body,
html {
  margin: 0;
  padding: 0;
}
/*****************************
     HERO SECTION
/*****************************/
/* General container and layout styles */
.homepage-container {
  padding: 0 1rem;
}

/* Hero Section Styles */
.hero-section {
  position: relative;
  max-width: 1200px;
  margin: 8rem auto auto auto; /*add some margins for the section due to the fixed navbar*/
  border-radius: 4px;
  overflow: hidden;
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /*transparent background of gray*/
  z-index: 1; /* Place it below text but above the image */
}
.hero-section {
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 30%;
}

.hero-text {
  z-index: 1;
  max-width: 600px;
  text-align: left;
  margin-left: 50px;
}

.hero-text h1 {
  margin: -5px 0;
  color: white;
  font-size: 70px;
  white-space: nowrap;
}
/* styling the h1 on the hero page */

.hero-text h3 {
  color: white;
  margin-top: 50px;
  line-height: 1;
  font-size: 30px;
}
/*=====================================
  styling for small screens herosection
=======================================*/
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0.1rem;
  }

  /* Hero Section Styles */
  .hero-section {
    position: relative;
    max-width: 300px;
    margin: 20px 5px;
    border-radius: 4px;
  }
  .hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /*transparent background of gray*/
    z-index: 1; /* Place it below text but above the image */
  }
  .hero-section {
    background-size: cover;
    background-position: center;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
  }

  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 30%;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    z-index: 1;
    text-align: left;
    margin: auto auto auto 10px;
    align-items: center;
    justify-content: center;
  }

  .hero-text h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
    color: white;
    font-size: 2rem;
    white-space: nowrap;
    align-self: center;
    margin: auto auto auto 85px;
    width: 400px;
  }
  /* styling the h1 on the hero page */

  .hero-text h3 {
    color: white;
    margin-top: 50px;
    line-height: 1;
    font-size: 17px;
    width: 300px;
    margin-left: -10px;
  }
}

/*****************************
     Why GLAD Section
/*****************************/
.why-glad {
  margin: 3rem 1rem;
}

.why-glad h1 {
  text-align: left; /* Align heading to the left */
  font-size: 2.5rem;
  margin: 40px 0 70px 78px;
}

/* Flex container for cards */
.cards-container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center cards on each row */
  gap: 1.6rem;
  margin: 0 -20px;
}

.card1 {
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  padding: 1.85rem;
  text-align: start;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  width: 400px;
}

.card1:hover {
  transform: scale(1.04);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.card1 h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card1 p {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.6;
}

.card-icon {
  font-size: 2.5rem;
  color: #1772bd;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
}
.card1:hover .card-icon {
  color: #1772be;
}
/*=================================
 small screen for section why glad
=======================================*/
@media (max-width: 768px) {
  .why-glad {
    margin: 2rem 1rem;
  }

  .why-glad h1 {
    font-size: 1.8rem;
  }

  /* Flex container for cards */
  .cards-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center cards on each row */
    gap: 1.4rem;
    margin: 0 auto;
  }

  .card1 {
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 2rem 2rem;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  }

  .card1:hover {
    transform: scale(1.04);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }

  .card1 h2 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  .card1 p {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.6;
  }

  .card-icon {
    font-size: 2.5rem;
    color: #1772bd;
    margin-bottom: 0.5rem;
    transition: color 0.3s ease;
  }
  .card1:hover .card-icon {
    color: #1772be;
  }
}

/*===================================
          this is navbar    
  ==================================*/
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 40px; /* Add spacing to child content */
}

/*****************************
     CONTACT button
/*****************************/

.contact-button {
  padding: 15px 24px; /* Adjust padding for size */
  font-size: 20px;
  color: white;
  background: #1772bd; /* blue background */
  border: none;
  border-radius: 8px; /* Rounded edges */
  cursor: pointer;
  transition: all 0.4s ease; /* Smooth transition */
  width: 160px;
  height: 70px;
  transform: translateX(5px);
  margin-top: 45px;
}

.contact-button:hover {
  background: white;
  border: 2px solid #1772bd;
  transform: scale(1.03); /* Slight zoom effect */
  color: #1772bd; /*changed the color from the gradient*/
}

.contact-button:active {
  transform: scale(0.98); /* Slight press-down effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduced shadow */
}
#contact-us {
  width: 300px;
  padding: 12px 24px; /* Adjust padding for size */
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: #1772bd; /* blue background */
  border: 2px solid #1772bd;
  border-radius: 8px; /* Rounded edges */
  cursor: pointer;
  transition: all 0.4s ease;
  margin-top: 50px;
  height: 70px;
}
#contact-us:hover {
  background: white;
  border: 2px solid #1772bd;
  transform: scale(1.03);
  color: #1772bd;
}
.contactus-btn {
  display: flex;
  justify-content: center;
}

/*===================================
  for large screen
  ===================================== */

.navbar-logo img {
  width: 350px;
  margin: 15px 0 0 15px;
}
.contact-button {
  width: 140px;
  height: 50px;
  margin-right: 113px;
  font-size: 16px;
}
.navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 40px;
  z-index: 2;
  background-color: white;
  left: 0; /* Ensures it starts from the left edge */
  right: 0; /* Ensures it spans to the right edge */
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 40px; /* Add spacing to child content */
}
/*==============================
  NAVBAR ON SMALL SCREEN
================================*/
@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
  }
  .navbar-container {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 5px;
    z-index: 2;
    background-color: white;
    left: 0; /* Ensures it starts from the left edge */
    right: 0; /* Ensures it spans to the right edge */
    overflow-x: hidden;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  .navbar-logo img {
    width: 200px;
    margin: 15px 0 10px 2px;
  }
  .navbar-links {
    display: flex;
  }
  .contact-button {
    width: 70px;
    height: 35px;
    margin: 30px 0 0 85px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-button:hover {
    background: white;
    border: 2px solid #1772bd;
    transform: translateX(6px);
    color: #1772bd;
  }

  #contact-us {
    width: 200px;
    padding: 12px 24px;
    font-size: 18px;
    color: white;
    background: #1772bd;
    border: 2px solid #1772bd;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s ease;
    margin-top: 50px;
    height: 50px;
  }
  #contact-us:hover {
    background: white;
    border: 2px solid #1772bd;
    transform: scale(1.03);
    color: #1772bd;
  }

}
@media (max-width: 360px){
  .contact-button {
    width: 70px;
    height: 35px;
    margin: 30px 0 0 55px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 370px) and (max-width: 377px) {
  .contact-button {
    width: 70px;
    height: 35px;
    margin: 30px 0 0 72px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 380px)and (max-width:389px) {
  .contact-button {
    width: 70px;
    height: 35px;
    margin: 30px 0 0 80px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 410px)and (max-width:414px) {
  .contact-button {
    width: 70px;
    height: 35px;
    margin: 30px 0 0 106px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 445px) and (max-width: 449px) {
  .contact-button {
    width: 70px;
    height: 35px;
    margin: 30px 0 0 145px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0.1rem;
  }

  /* Hero Section Styles */
  .hero-section {
    position: relative;
    max-width: 400px;
    margin: 20px 5px;
    border-radius: 4px;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    z-index: 1;
    text-align: left;
    margin: auto auto auto 10px;
    align-items: center;
    justify-content: center;
  }

  .hero-text h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
    color: white;
    font-size: 2.5rem;
    white-space: nowrap;
    align-self: center;
    margin: auto auto auto 5px;
    width: 400px;
  }
  /* styling the h1 on the hero page */

  .hero-text h3 {
    color: white;
    margin-top: 50px;
    line-height: 1;
    font-size: 22px;
    width: 400px;
    margin-left: 5px;
  }
}
/*****************************
     NEWSLETTER SECTION
/*****************************/
.newsletter-popup {
  color: white;
  padding: 2rem;
  border-radius: 8px;

  max-width: 1200px;
}
.secNewsletter {
  justify-content: center;
  border: 1px solid #1772bd;
  margin: 0 100px;
  padding: 10px 0;
  border-radius: 4px;
  background-color: white;
}
.newsletter-content {
  max-width: 100%;
  text-align: left;
}

.new-letter-text {
  margin-bottom: 1rem;
}
.new-letter-text {
  font-size: 1.4rem;
}
.mailchimp-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 100%;
}

.mailchimp-form input {
  padding: 0.75rem;
  margin-left: 60px;
  border: 1px solid #2b3d8e;
  border-radius: 2px;
  font-size: 1rem;
  width: 100%;
}

.mailchimp-form button {
  padding: 0.75rem;
  margin-left: 60px;
  background-color: #1772bd;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid#1772bd;
  cursor: pointer;
  width: 120px;

  transition: background-color 0.3s;
}
.mailchimp-form button:hover {
  background-color: white;
  color: #1772bd;
  border: 2px solid #1772bd;
}
@media (max-width: 768px) {
  .newsletter-popup {
    color: white;
    padding: 2rem;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    align-items: center;
  }
  .secNewsletter {
    display: flex;
    justify-content: center;
    margin: 0 10px;
    padding: 10px 0;
    border-radius: 4px;
    background-color: white;
  }

  .newsletter-content {
    display: flex;
    flex-direction: column;
  }

  h2 {
    margin-bottom: 0.9rem;
  }
  .new-letter-text {
    font-size: 1.3rem;
  }
  .mailchimp-form {
    font-size: 1rem;
    justify-content: space-between;
    margin-top: 25px;
  }

  .mailchimp-form input {
    padding: 1rem;
    border: 1px solid #2b3d8e;
    border-radius: 2px;
    font-size: 1rem;
    width: 230px;
    margin-bottom: 10px;
    margin-left: -2px;
  }

  .mailchimp-form button {
    padding: 0.8rem;
    margin-left: -2px;
    background-color: #1772bd;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid#1772bd;
    cursor: pointer;
    width: 120px;
    transition: background-color 0.3s;
  }
  .mailchimp-form button:hover {
    background-color: white;
    color: #1772bd;
    border: 2px solid #1772bd;
  }
}

.empty-message {
  text-align: center;
  color: #888;
  font-size: 18px;
  padding: 20px;
}

/*****************************
     CONTACT SECTION
/*****************************/
/* Base Styles */
.contact-form-container {
  padding: 5rem 20rem;
  max-width: 1200px;
  margin: 70px auto 20px auto;
  background-color: #2b3d8e;
  overflow-x: hidden;
}

.contact-grid {
  display: flex;
  justify-self: center;
  gap: 5rem;
}
.contact-title {
  font-size: 3rem;
  color: white;
  font-family: "Playfair Display", serif;
  margin-top: 1rem;
  font-weight: 450;
  margin-left: -210px;
}
.contact-subtitle {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: white;
  margin-left: -210px;
}
/* Form Layout */
.form-grid {
  display: grid;
  gap: 1rem;
  margin-right: -60px;
}
.form-grid-row {
  display: grid;
  grid-template-columns: 2fr;
  gap: 1rem;
}
.input-field {
  padding: 0.8rem;
  border-radius: 2px;
  border: 1px solid #ddd;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  width: 400px;
}
.textarea {
  height: 120px;
  resize: vertical;
}
.submit-button {
  background-color: #1772bd;
  color: white;
  border: none;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%;
  height: 50px;
  align-items: center;
  white-space: hidden;
}
.submit-button:hover {
  background-color: white;
  border: 2px solid #1772bd;
  color: #1772bd;
}
/*==============================
 small screen styling for contact
================================*/
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .contact-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: #2b3d8e;
  }
  .contact-form-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    background-color: #2b3d8e;
    padding: 10px 20px;
    z-index: 1;
    transform: translateY(-50px);
  }
  .contact-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .contact-title {
    font-size: 1.8rem;
    color: white;
    font-family: "Playfair Display", serif;
    margin: -15px 0 0 3px;
  }
  .contact-subtitle {
    font-size: 1.1rem;
    font-family: "Raleway", sans-serif;
    line-height: 1.4;
    color: white;
    margin-bottom: 1.5rem;
    margin-left: 1px;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 182%;
  }
  .input-field {
    width: 50%;
    padding: 12px;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .textarea {
    min-height: 100px;
    resize: vertical;
  }
  .form-grid-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between the two inputs */
  }
  .submit-button {
    background-color: #1772bd;
    color: white;
    border: none;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  .submit-button:hover {
    background-color: white;
  }
}

/*  here we style our services */

.header {
  font-family: "Playfair Display";
  font-size: 2.7rem;
  color: #2b3d8e;
  margin-bottom: 20px;
  text-align: left;
}
.services {
  padding: 20px 0;
}
#center {
  display: flex;
  justify-content: start;
  text-align: left; /* Align heading to the left */
  margin: 20px 0 30px 92px;
}
.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px; /* space between cards */
}

.card {
  position: relative;
  width: 350px; /* uniform width */
  height: 500px; /* uniform height */
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  border: 1px solid rgb(232, 227, 227);
  gap: 10px;
  padding: 0 1.85rem;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* Hide image initially */
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  z-index: 1; /* Above the image */
  background: white; /* Transparent gray background */
  padding: 10px;
}

.card h2 {
  font-size: 1.6rem;
  margin: 0 10px;
  z-index: 1;
}

.card p {
  font-size: 1rem;
  margin: 10px 10px;
  z-index: 1;
}

.card:hover .card-image {
  opacity: 1; /* Show image on hover */
  cursor: pointer;
}

.card:hover .card-overlay {
  color: black;
  cursor: pointer;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}
.card:hover .card-overlay h2,
.card:hover .card-overlay p {
  left: 0;
  background-color: rgba(23, 114, 189, 0.5);
  padding: 15px;
  color: white;
  border-radius: 5px;
  transform: translateX(-10px);
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: auto;
}

@media (max-width: 768px) {
  .header {
    font-family: "Playfair Display";
    font-size: 1.8rem;
    color: #2b3d8e;
    margin-bottom: 5px;
    text-align: left;
  }
  .services {
    padding: 20px 0;
  }
  #center {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px; /* space between cards */
  }

  .card {
    position: relative;
    width: 300px; /* uniform width */
    height: 400px; /* uniform height */
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    border: 1px solid rgb(232, 227, 227);
    gap: 5px;
    padding: 2rem 2rem;
    margin: 0 5px;
  }

  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Hide image initially */
    transition: opacity 0.3s ease;
    overflow: hidden;
  }

  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    z-index: 1; /* Above the image */
    background: white;
    padding: 10px;
  }

  .card h2 {
    font-size: 1.2rem;
    margin: 0 10px;
    z-index: 1;
  }

  .card p {
    font-size: 0.9rem;
    margin: 10px 10px;
    z-index: 1;
  }

  .card:hover .card-image {
    opacity: 1; /* Show image on hover */
    cursor: pointer;
  }

  .card:hover .card-overlay {
    color: black;
    cursor: pointer;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .card:hover .card-overlay h2,
  .card:hover .card-overlay p {
    left: 0;
    background-color: rgba(23, 114, 189, 0.5);
    padding: 15px;
    color: white;
    border-radius: 5px;
    transform: translateX(-10px);
  }
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: auto;
  }
  hr {
    display: none;
  }
}

/*added a footer*/
.footer {
  background-color: white;
  color: black;
  padding: 50px 0 160px 0;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer-logo img {
  width: 250px;
  margin-left: 100px;
  height: auto;
}

.footer-content {
  flex: 1 1 50%;
  text-align: center;
}

.footer-content p {
  margin: 0 10px 0 -250px;
  font-size: 20px;
  transform: translateY(80px);
}

.footer-content a {
  color: #2b3d8e;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  margin-right: 50px;
  margin-top: -50px;
  justify-content: flex-end;
  gap: 15px;
  flex: 1 1 25%;
}

.social-icons a {
  color: #2b3d8e;
  text-decoration: none;
  font-size: 18px;
}

/*for the breaking lines*/
hr {
  max-width: 100%;
  margin: 0 95px;
}

/*=========================
 footer on small screen
=============================*/
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .footer {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center all content vertically */
    padding: 30px 30px 50px 30px;
    gap: 20px;
    height: 270px;
  }

  .footer-logo {
    display: flex;
    width: 100%; /* Full width for proper centering */
  }

  .footer-logo img {
    width: 180px; /* Adjust size for small screens */
    height: auto;
    margin: 0 auto;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    gap: 10px;
    padding: 0 20px;
  }

  .footer-content p {
    font-size: 15px; /* Adjust font size for readability */
    margin: 10px auto;
    text-align: left;
  }

  .footer-content a {
    color: #2b3d8e;
    text-decoration: none;
  }

  .footer-content a:hover {
    text-decoration: underline;
  }

  .social-icons {
    display: flex;
    justify-content: center; /* Center social icons */
    gap: 15px; /* Space between icons */
    width: 100%; /* Full width for alignment */
  }
  .social-icons a {
    margin-top: 10px;
    color: #2b3d8e;
    text-decoration: none;
    font-size: 14px; /* Increase size for better visibility */
  }
}
